@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Kanit:wght@300;400;700&display=swap');
    
//*******$Settings********//
*{
    margin:0px;
    padding: 0px;
    font-size: 12px;
    font-weight: unset;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}
*:focus{
    outline: unset;
}
//*******$COLORS**********//

//Decorative colors

$color-1: #a5d8ff;
$color-2: #B3F6EC;
$color-3: #EFB7F2;
$color-4: #F6DAF4;
$color-5: #FFC2AC;
$color-6: #FB97AF;
$color-7: #788DE1;
$color-8: #B997FD;
$color-9: #598AF7;
$color-10: #7BE1FE;

//Backgrounds


//Text colors
$font-color: #000000;

//***********Fonts**********//

//Brand fonts
$titles: 'Barlow', sans-serif;
$lorem-ipsum: 'Kanit', sans-serif;

//**********Sizes**********//
$radius-1: 10px;
$radius-2: 20px;